@import url('https://fonts.googleapis.com/css?family=Oswald&family=Roboto-slab');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

header {
    max-width: 100%;
}


.logo{
    width: 120px;
    height: 120px;
}

nav a{
    text-decoration: none;
    margin: auto;
    font-family: "Oswald";
    font-size: larger;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F7CF1F ;
}

.right-links a {
    margin: 50px;
    padding: 20px;
  }

#logo_link {
    padding: 20px;
    justify-self: center;
    align-self: center;
}

nav a:hover{
    background-color:#E11414;
    color: white;
}

.left-links a {
    margin: 200px;
    padding: 20px;
}

#hero img{
    width: 100%;
}

main.home-grid {
    display: grid;
    margin-left: 100px;
    margin-right: 100px;
}

#welcome-msg h1, #welcome-msg h4, #traditional-msg h1, #traditional-msg h4, #digital-msg {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

#welcome-msg h1, #traditional-msg h1, #digital-msg h1{
    font-family: "Oswald";
    font-size: xx-large;
    text-decoration: underline;
}

#welcome-msg h4, #traditional-msg h4, #digital-msg h4 {
    font-family: "Roboto-slab";
    font-size: larger;
}

.Traditional-card, .Digital-card {
    grid-row: 2/4;
    margin: 10px 0;
}

.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.Traditional-card {
    grid-column: 2/4;

}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
    border: 10px solid #E11414 ;
}

.Digital-card {
    grid-column: 5/7;
}

.Traditional-card h2, .Digital-card h2 {
    text-align: center;
    font-family: "Oswald";
    font-size: xx-large;
} 

.commissions {
    grid-row: 6/7;
    grid-column-start: span 3;
    grid-column-end: 6;
    text-align: center;
    background-color: #E11414;
    color: white;
    padding: 40px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px #6f7364;
}

.commissions h2{
    font-family: "Oswald";
    font-size: xx-large;
}

.commissions p {
    font-family: "Roboto-slab";
    font-size: x-large;
}

footer{
    background-color: #F7CF1F;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
}

footer a, footer p {
    text-decoration: none;
    font-family: "Oswald";
    color: black;
}

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 17%;
    opacity: 0.8; 
    cursor: pointer;
    border: 5px solid black;
    margin: 1%;
    padding: 5px;

}
.column:hover {
    opacity: 1;
    border: 5px solid#E11414;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

main.row {
    margin-left: 13%;
    margin-right: 10%;
    margin-top: 5%;

}

.container {
    position: relative;
    display: none;
    margin-bottom: 100px;
    margin-left: 15%;
}

.container img {
    border: 10px solid black;
    padding: 10px;
}

#imgtext {
    position: absolute;
    top: 50%;
    right: 20%;
    color: black;
    font-size: 50px;
    background-color: white;
    font-family: "Oswald";
    margin-bottom: 15px;
    padding: 10px;
    border: 10px solid black;
  
}
.closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    color: black;
    font-size: 35px;
    cursor: pointer;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {

    font: 1em sans-serif;
  
    width: 300px;
    box-sizing: border-box;
  
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
  
    height: 5em;
  }
  
  .button {
    padding-left: 90px;
  }
  
  button {
    margin-left: 0.5em;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

form {
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  





